footer{
	display: grid;
	background: var(--color_footer);
	width: 100%;
	z-index: 1;
}
footer div.theme-selector{
	height: 100%;
	width: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
}
footer div.theme-selector button img{
	display: none;
	height: 100%;
	scale: 0.5;
}
footer div.theme-selector button{
	border: none;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin: 5px;
    border: 2px solid #FF0000;
}
footer div.theme-selector button.active-theme{
	border: 2px solid #00FF00;
}
footer div.theme-selector button.active-theme img{
	display: block !important;
}
footer div.theme-selector button:hover{
	border: 2px solid #00AA00;
}
#light-theme-selector img{
	filter: brightness(0.5) hue-rotate(10deg) saturate(0.9);
}
#light-theme-selector{
    background: #FFFFFF;
    margin-right: 0px;
}
#dark-theme-selector{
	background: #000000;
}
.footer-layer{
	width: 100%;
	display: flex;
	justify-content: center;
}
.footer-layer-padding{
	width: 100%;
	height: 2px;
	margin: 10px;
	border-radius: 50px;
	background: #FFFFFF;
}
.copyright{
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 20px;
}
.contact-footer{
	margin-top: 10px;
}
.contact-footer ul {
	display: flex;
    flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
}
.contact-footer *{
	transition: all 1s;
}
.contact-footer ul li{
	display: flex;
}
.contact-footer ul li a{
	display: flex;
	justify-content: center;
	align-items: center;
}
.contact-footer ul li a div{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
}
.contact-footer ul li a div span:first-child{
	font-size: 15px;
	margin-bottom: 5px;
}
.contact-footer ul li a div span:last-child{
	font-size: 20px;
}
.contact-footer ul li a img{
	width: 50px;
	height: 50px;
	-webkit-filter: invert(100%);
    filter: invert(100%);
}
@media screen and (max-width: 730px){
	.contact-footer ul li a img{
    	width: 30px;
    	height: 30px;
    }
	.contact-footer ul li a div span:first-child{
		font-size: 13px;
	}
	.contact-footer ul li a div span:last-child{
    	font-size: 15px;
    }
}
@media screen and (max-width: 500px){
	.contact-footer ul {
        flex-direction: column;
    }
}