@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@900&display=swap');
.light-theme{
	--color_fragment_bg: #555566AA;
	--color_selector_bg_active: #FFF;
	--color_cards_text: #FFF;
	--color_cards_bg: #c3DDFF77;
	--sea_brightness: 1;
	--color_rating_text: #444;
	--color_highlight_bg: #AAA;
	--color_rating_users_text: #EEE;
}
.dark-theme{
	--color_fragment_bg: #555566AA;
	--color_selector_bg_active: #DDD;
	--color_cards_text: #DFF;
	--color_cards_bg: #6f8eb8b7;
	--sea_brightness: 0.5;
	--color_rating_text: #CCC;
	--color_rating_users_text: #CCC;
	--color_highlight_bg: #777;
}

.hotelContent{
	display: flex;
	max-width: 100vw;
	z-index: 3;
	flex: 1;
}

.hotelGallery{
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(3, 220px);
	grid-gap: 20px 20px;
	place-items: center;
}

.small-image{
	display: block;
	justify-content: center;
	cursor: pointer;
}

.small-image img{
	box-shadow: 1px 1px 1px #444;
}

.hotelGalleryViewBlur.visible{
	display: unset !important;
}
.hotelGalleryViewBlur{
    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;

    z-index: 9999;

    overflow: hidden;
    position: fixed;

    display: none;

    background: #0b0b0b;
    opacity: .8;
}

.hotelGalleryView.visible{
	display: grid !important;
	grid-template-columns: 90px 1fr 90px;
	place-items: center;
}
.hotelGalleryView{
	z-index: 9999;

	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;

	display: none;
	position: fixed;

	cursor: zoom-out;
}

.hotelGalleryView-img{
	z-index: 9999;
	position: relative;
	display: block;
    width: auto;
    max-width: 100%;
    height: auto;
    line-height: 0;
    box-sizing: border-box;
    margin: 0 auto;
    cursor: default;
}

.hotelGalleryView-img > img{
	display: block;
	width: auto;
	max-width: calc(100vw - 180px);
	max-height: 100vh;
	height: auto;
	line-height: 0;
	box-sizing: border-box;
	margin: 0 auto;
	cursor: default;
	padding: 40px 0px;
}

.hotelGalleryView-description{
	height: 20px;
	margin-top: -36px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    cursor: auto;
}

.hotelGalleryView-description > p{
	font-family: 'Roboto Slab', serif;
}

.hotelGalleryView-description-text{
	position: absolute;
    top: 0;
    left: 0;
    color: #ccc;
    font-size: 12px;
    line-height: 18px;
}

.hotelGalleryView-description-img-count{
	position: absolute;
    top: 0;
    right: 0;
    color: #ccc;
    font-size: 12px;
    line-height: 18px;
}

.hotelGalleryView > img{
	display: block;
	width: 90px;
	height: 90px;
	cursor: pointer;
	filter: invert(1);
}
.hotelGalleryView > img:hover{
	filter: invert(0.8);
}

.small-image img{
	width: 200px;
}

@media screen and (max-width: 600px){
	.hotelGalleryView > img{
    	width: 50px;
    	height: 50px;
    }
}
.hotelContentFragment{
	width: 100%;
	background: var(--color_fragment_bg);
}
.hotelContentSelector{
	height: 100%;
	border-right: 10px var(--color_header) solid;
	list-style-type: none;
	display: flex;
	flex-direction: column;
}
.hotelContentSelector li{
	overflow: hidden;
	display: block;
	color: #FFFFFF;
	font-size: 20px;
	max-width: 135px;
	letter-spacing: 2px;
	font-family: 'Roboto Slab', serif;
	padding: 10px;
	margin: 5px;
	background: var(--color_header);
	cursor: pointer;
	margin-bottom: -1px;
	transition: transform 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.hotelContentSelector li.active{
	background: var(--color_selector_bg_active);
	color: #000000;
	transform: translateX(5px);
}
.hotelContentSelector li:hover{
	opacity: 0.8;
}

.hotelData.invisible{
	display: none !important;
}

.hotelGallery.invisible{
	display: none !important;
}
.hotelData{
	display: grid;
	grid-template-areas: ". b b b ." 
						 ". a spacer e ."
						 ". a spacer c ."
                         ". d d c ."
                         ". d d rezv ."
                         ". f f f ."
                         ". . . . .";
	grid-template-columns: auto min-content min-content min-content auto;
	grid-template-rows: auto 100px 90px auto auto auto 1fr;
}
.hotelData-about-div{
	width: calc(100% - 40px) !important;
	height: min-content;
	display: grid;
}
.hotelData-rezv-div{
	width: calc(100% - 20px) !important;
	padding: 0px !important;
}
#hotel-description, #hotel-description span{
	font-family: 'Roboto Slab', serif;
	color: var(--color_cards_text);
	text-shadow: 1px 1px 1px #000000;
}
.hotelData-book-div{
	width: calc(100% - 40px) !important;
	height: min-content;
}
.hotelData-mid-spacer{
	background: none !important;
	width: 200px !important;
	justify-content: center;
	align-items: center;
}
.hotelData-mid-spacer img{
	width: 120px;
	filter: drop-shadow(2px 2px 2px black);
}
.dark-theme .hotelData-mid-spacer img{
	filter: drop-shadow(2px 2px 2px black) brightness(0.7) !important;
}
.hotelData-segment{
	background: var(--color_cards_bg);
	width: fit-content;
	padding: 10px;
	margin: 10px;
	display: flex;
	flex-direction: column;
}
.hotelData-rating-div{
	width: 200px;
	padding: 0px;
	background: none;
}
.hotelData-price-div{
	width: 200px;
	padding: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--color_highlight_bg);
}
#hotel-rating{
	padding: 10px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	font-family: 'Roboto Slab', serif;
	font-size: 40px;
	color: var(--color_cards_text);
	background: var(--color_highlight_bg);
}
#hotel-rating span{
	font-size: 17px;
	color: var(--color_rating_text);
}
#hotel-price{
	padding: 10px;
	font-family: 'Roboto Slab', serif;
	font-size: 30px;
	text-align: center;
	display: flex;
	flex-direction: column;
	color: var(--color_cards_text);
}
#hotel-price span{
	font-size: 17px;
	color: var(--color_rating_text);
}
#hotel-image{
	max-width: 350px;
	max-height: 350px;
	object-fit: cover;
}
#hotel-name{
	font-family: 'Arial', serif;
	color: var(--color_cards_text);
	font-size: 18px;
}
#hotel-destination{
	font-family: 'Arial', serif;
	color: var(--color_cards_text);
	font-size: 15px;
}
.fakeHide * {
	display: none;
}
.hotelData-rating-users{
	display: flex;
	flex-direction: column;
	padding: 10px;
	background-color: var(--color_cards_bg);
}
.hotelData-rating-users * {
	font-family: 'Roboto Slab', serif;
	font-size: 13px;
	text-shadow: 1px 1px 1px black;
	color: var(--color_rating_users_text);
}
.hotelData-rating-users p{
	display: flex;
	flex-direction: row;
}
.hotelData-rating-users p span{
	margin-left: auto;
}
#hotel-book-it{
	background: rgb(30, 138, 30);
	color: var(--color_cards_text);
	text-shadow: 1px 1px 1px black;
	padding: 10px;
	user-select: none;
	text-align: center;
	font-size: 20px;	
}
#hotel-book-it:hover{
	filter:blur(0.5px);
	opacity: 0.9;
	cursor: pointer;
}
.bookError{
	width: 100vw;
	height: 100vh;
	display: flex;
	position: fixed;
	background: #22222288;
	z-index: 9999999;
	justify-content: center;
	align-items: center;
}
.bookError > div{
	position: relative;
    width: 300px;
    height: 200px;

    background: var(--color_background_dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid var(--color_loader);
}
.bookError > div > h1{
	text-align: center;
	font-family: 'Roboto Slab', serif;
	padding: 10px;
	font-size: 25px;
}
* {
	user-select: none;
}